@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'JetBrainsMono';
  font-style:  normal;
  font-weight: 800;
  font-display: swap;
  src: url('/fonts/JetBrainsMono-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrainsMono';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2');
}

.cell {
  display: grid;
  width:3rem;
  height:3rem;
  text-align: center;
}

.key {
  display: inline-block;
  width: 2rem;
  height: 3rem;
  line-height: 2rem;
  text-align: center;
  margin: 0.1rem;
  cursor: pointer;
}

.enter-key, .backspace-key {
  width: 3rem; /* 1.5x width */
}

.keyboard {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  bg-color: #fff;
}

.keyboard-row {
  display: flex;
  gap:0.1rem;
  justify-content: center;
}